@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');

body {
  margin: 0;
  background-color: #0A4740 !important;
  font-family: 'Balsamiq Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ff_chewy {
  font-family: 'Chewy', system-ui;
}

@font-face {
  font-family: luckydino;
  src: url("./assets/fonts/LuckyDino.otf");
}

.ff_luckydino {
  font-family: 'luckydino';
}

code {
  font-family: 'Balsamiq Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;